

/*
.bhavana {
	display: block;
	margin: 40px auto 20px;
	border: 1px solid #333;
    float:right;
	-webkit-box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
	box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
	width:200px;
	height:100px;
}



.bhavana p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #777;
	display: block;
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

.bhavana .info {
	margin: 14px auto;
	text-align: justify;
	font-size: 18px;
	color: #999;
}

.bhavana label {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #555;
	width: 400px;
	margin: 0 auto;
	display: block;
}*/

.bhavana{
	color: #fff;

}
.bhavana .game{
	width: 500px;
	margin:0 auto;
}