
.logo	#sbutton {
	  width: 100px;
	  height: 40px;
	  color: #000;
	  border-radius: 6px;
	  padding: 0;
	  margin: 0 auto 30px auto;
	  font-size: 22px;
	  background: #fff;
	  box-shadow: 0 0 0 #000;
	  display: inline-block;
		}

.logo{
	color: #fff;
	text-align: center;
}

.logo .game{
	
	width: 700px;
	margin: 0 auto;
}

.logo table tr{
	padding-bottom: 30px;
	padding-top: 20px;
}
