

body{
	font: 18px/32px "Lato",arial,verdana;
	background: rgb(0,34,61);
	color: #eee;
	min-width: 950px;
}

/****
=============
clear-fix
=============

****/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}

.container{
	margin: 0 auto;
	
	width: 1100px;
}


header{
	
	padding-bottom: 10px;
	height: 100%;

}


header h1{
	vertical-align: top;
	margin-left : 0;
	margin-bottom:6px;
	display: inline-block;
	font-size: 30px;
	
	padding:6px;
	width: 40%;
	border-top: 1px solid #eee;
	font-weight: 100;
}



header .points,
header .menu,
header .timer,
header .submenu{
	margin-top: 6px;
	float: right;

}

header .menu,
.submenu{
	margin-right : 15%;
	position: relative;
}
header .menu li,
.submenu li{
	display: block;
	padding: 6px;
	font-weight: 100;
}

header .menu li a,
.submenu li a{
	text-decoration: none;
	cursor: pointer;
	color : rgba(0,34,61,0.7);

}
header .points,
header .timer{
	color : rgba(255,255,255,0.5);
	padding: 2px;
	margin: 4px;
	margin-top: 6px;
	margin-left: 15px;
	box-shadow: inset 0px 2px 3px rgba(0,0,0,0.5);
	border-radius: 6px;
	line-height: 40px;
	height: 40px;

}

.submenu{
	margin-right:1%;
	margin-left: 2%;
}
.submenu input,
.menu input{
  display: none;
}

.submenu label,
.submenu ul,
.menu label,
.menu ul {
  border: 1px solid #cecfd5;
  border-radius: 6px;
}

.submenu label,
.menu label {
  color : rgba(255,255,255,0.5);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 5px 9px;
  transition: all .15s ease;
  border-width: 0;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.8);  

}
.menu label{
	position: relative;
	
	width: 80px;
	text-align: center;
}
.submenu label{
	position: relative;
	
	left: -10px;
}

.submenu label:hover,
.menu label:hover {
  color : rgba(162,132,214,0.5);
  background: #cfd8dc;
  box-shadow: inset 0px 2px 2px #454545;  


}
.submenu input:checked + label,
.menu input:checked + label {
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #9799a7;
  transform : translateY(1px);
}
.submenu nav ,
.menu nav{
	position: absolute;
	z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease;
}
.submenu input:checked ~ nav ,
.menu input:checked ~ nav{
  max-height: 500px;
  

}
.submenu ul,
.menu ul {
	
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
  width: 120px;
}

.submenu ul{

}
.submenu li,
.menu li {
  background: rgba(255,255,255,0.8);
  border-bottom: 1px solid #cecfd5;

}
.submenu li:last-child,
.menu li:last-child {
  border-bottom: 0;
}
.submenu a,
.menu a {
  color: #000;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
.submenu a:hover,
.menu a:hover {
  color: #ff7b29;

}


.submenu .active{
	color: #212121;
	box-shadow: inset 0 -1px 2px rgba(0,34,61,.5);
}


.row{
	background: rgba(255,255,255,0.85);
	padding-bottom: 100px;
	padding-top: 70px;
}
.question{
	
	border-radius: 6px;
	padding: 6px;
	color: rgba(0,0,0,0.7);
	background: transparent;
	width: 45%;
	text-align:justify-all;
	overflow: auto;
	margin:0;
	float:left;
}

.submenu{
	display:inline-block;
}

.question h1{
	display: inline-block;

}
.meta{
	margin-top: 150px;
	margin: 20px auto;
	font-size: 30px;
	text-align: center;
	width: 200px;
	padding-bottom: 3px;
	font-weight: 300;
	color:rgba(0,0,0,0.7);
	text-align: center;
	background: transparent;

	
	border-bottom: .5px solid rgba(0,0,0,0.5);
}
.data{
	padding: 20px;
	line-height: 35px;
	text-align: justify;
}

.data ol:nth-of-type(2n+1){
	margin-top: 30px;
	list-style: lower-roman;
}
.data ol:nth-of-type(2n){
	margin-top: 30px;
	list-style: disc;
}
	
aside{
	

	color: rgba(00,34,61,1);
	float: right;
	width:50%;
	height:100%;
	background : rgba(255,255,255,0.75);
	box-shadow: inset 0px 2px 3px rgba(0,0,0,0.5);
	margin:0;
	margin-top: 30px;
	border-radius: 6px;
	position: relative;
	overflow:auto;

	position: relative;

	top: 70px;
}

.feild{
	padding:10px;
	margin:10px auto;
	width: 500px;
	height: 94%;

}
.btn{
	position: relative;
	font-weight: 100;
	
	height: 40px;
	width: 100%;
	margin: 10px auto;
	
	font-size: 20px;
	color: #fff;
	background: rgb(0,34,61);
	box-shadow: 0px 5px 0 #99b;
	transition: all .5s 0 ease-in-out;
	border-radius: 6px;
	border-width: 0;
}
.btn:active{
	box-shadow: 0 2px 0 #99b;
	transform: translateY(3px);
}


footer{
	width: 100%;
	height: 50px;

	
	
}

.foo-menu{

	display : inline-block;

}
.foo-menu li{
	padding: 6px;
	display: inline-block;

}

.foo-menu a{
	text-decoration: none;
	color : rgba(255,255,255,0.5);
	font-size: 16px;
	font-weight: 100;
}



footer h6{
	
	margin: 0;

	float: right;
	font-size: 14px;
	font-weight: 700;
	width: 10%;

}


/****


===========================

timer

=============================

*****/



.timer{
	font-size: 20px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

.timer p{
	line-height: 30px;
	margin:0;
	padding:5px;
}


.backdrop{

	background: rgba(0,0,0,0.9);
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 2;
	
	justify-content: center;
	flex-direction: column;
	display:flex;
}
.canvas{

	background: #eee;
	
	position: relative;
	overflow:auto;
	align-self: center;
	
	
	color: rgb(0,34,61);
	border-radius: 6px;
	
	
	
	width: 950px;
	
	height: 70vh;
	z-index: 2;
}
.canvas h1{

	text-align: center;
	width: 100%;
	line-height: 40px;
	font-size: 40px;
	
}

.signOut h1{
	padding-top: 30px;
	line-height: 60px;
}

.signOut h2{
	text-align: center;
	width: 100%;
	line-height: 150px;
	font-size: 35px;
	margin-top: 90px;
	
}
.rules h1{
	padding-top: 30px;
}

.rules{
	display: none;
}
.rules ul{
	padding: 70px;
}
.rules li{
	color: rgba(0,34,61,0.75);
	line-height: 50px;
	font-size: 23px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 30px;

}

.rules li:last-child{
	border-bottom-width: 0;
}
.backdrop .signOut{
	display :none;
	background: rgba(255,255,255,0.6); 
}


.canvas .close{
	text-align: center;
	color: #eee;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.backdrop .rules .close a{
	color: rgb(00,34,61);
}

/*.tetris,
.mansi,
.piyali,
.shivani
.garima,
.nithya,
.poonam,
.hangman,
.bhavana,
.shadow{
	
	display: none;
	
}*/

.backdrop .rules{
	background: #eee;
}

.backdrop .tetris ,
.backdrop .mansi,
.backdrop .piyali,
.backdrop .shivani,
.backdrop .garima,
.backdrop .nithya,
.backdrop .hangman,
.backdrop .bhavana,
.backdrop .shadow,
.backdrop .logo{
	display: none;
	background: transparent;
}

/*.backdrop .mansi{
	background: transparent;
}

.backdrop .piyali{
	background: #442189;
}

.backdrop .shivani{
	background:#00cc88;
}
.backdrop .garima{
	background: #ff6666;
}*/


#out{
	
	font-size:25px;
	background-color:#fff;
	width:70px;
	color: #000;
	display: block;
	margin: 0 auto;
	border-radius:6px;
	cursor:pointer;
	box-shadow: 0 0 0 #000;
	/*border:3px solid #999999;*/
}

#out a{
	text-decoration: none;
	color: #000;
}
/*#notout{
	
	font-size:22px;
	background-color:#00cc66;
	width:10%;
	border-radius:6px;
	position: absolute;
	right:55%;
	cursor:pointer;
}*/	/*border:3px solid #999999;*/


#mcq label{
	display: block;
	margin: 10px 0;
}

#mcq .btn{
	margin-bottom: 50px;
	width: 150px;
	display: block;
}


#mesg{
	display: none;
	text-align: center;
	margin: -30px 0 20px 0;
	border: 1px solid #ee4490;
	border-radius: 3px;
	background: rgba(200,0,0,.3);

}

.sub{
	margin: 13px auto 10px auto;
	box-shadow: 0 0 0;

}

.done{
	color: #757575;
	background-color: #aaa;
}


.gamedata{
	display: none;
	padding: 20px 30px;
	box-sizing: border-box;
	margin-top: 30px;
	position: relative;
	background-color: rgba(0,0,0,.3);

	color: #fff;
	width: 950px;
	text-align: left;

	margin: 30px auto 0 auto;

}
.gamedata h3{
	font-size: 22px;
}
.gamedata p{
	font-size: 16px;
	line-height: 20px;
}

.canvas .close a{
	color: #fff;
}


.data p:first-letter{
	font-size: 30px;
}

.gametime{
	display:none;
	color: #fff;
	position: fixed;
	top: 10px;
	border-radius: 6px;
	
	right: 10px;
	line-height: 50px;
	width: 50px;
	background-color: rgba(255,0,0,.5);
	text-align: center;
}

.points{
	width: 30px;
	text-align: center;
}
